In [1]:
import numpy as np
import pandas as pd

### Mapping

In [2]:
# create data frame
df1 = pd.DataFrame({'city':['Alma', 'Brian Head', 'Fox Park'],
                    'altitude':[3158, 3000, 2762]})
df1

   altitude        city
0      3158        Alma
1      3000  Brian Head
2      2762    Fox Park

In [3]:
# create a dictionary
state_dict = {'Alma':'Colorado', 'Brian Head':'Utah', 'Fox Park':'Wyoming'}

In [5]:
# create a new column called state, and map it using the state dictionary
df1['state'] = df1['city'].map(state_dict)
df1

   altitude        city     state
0      3158        Alma  Colorado
1      3000  Brian Head      Utah
2      2762    Fox Park   Wyoming

Mapping is a great way to do element-wise transformations and data cleaning.

### Replacing Values

In [10]:
# make a series
ser1 = pd.Series([1, 2, 3, 4, 1, 2, 3, 4])
ser1

0    1
1    2
2    3
3    4
4    1
5    2
6    3
7    4
dtype: int64

In [11]:
# replace a particular value with a new value
# replace all values of 1 with a null value
ser1.replace(1, np.nan)

0   NaN
1     2
2     3
3     4
4   NaN
5     2
6     3
7     4
dtype: float64

In [13]:
# replace 1 and 4 with 100 and 400, respectively
ser1.replace([1, 4], [100, 400])

0    100
1      2
2      3
3    400
4    100
5      2
6      3
7    400
dtype: int64

In [15]:
# we can also specify replacements using a dictionary
ser1.replace({2:20, 3:300, 4:4000})

0       1
1      20
2     300
3    4000
4       1
5      20
6     300
7    4000
dtype: int64

### Mapping an Index (Renaming the Index)

In [16]:
# create a data frame
df2 = pd.DataFrame(np.arange(12).reshape(3, 4),
                   index = ['NY', 'LA', 'SF'],
                   columns = ['A', 'B', 'C', 'D'])
df2

    A  B   C   D
NY  0  1   2   3
LA  4  5   6   7
SF  8  9  10  11

In [19]:
# map new values to the index
df2.index = df2.index.map(str.lower)
df2

    A  B   C   D
ny  0  1   2   3
la  4  5   6   7
sf  8  9  10  11

In [22]:
# we can also use the rename method
df3 = df2.rename(index = str.title, columns = str.lower)
df3

    a  b   c   d
Ny  0  1   2   3
La  4  5   6   7
Sf  8  9  10  11