In [1]:
import numpy as np
import pandas as pd

### Reshaping Data

In [2]:
# create a data frame
df1 = pd.DataFrame(np.arange(8).reshape(2, 4),
                  index = pd.Index(['LA', 'SF'], name = 'city'),
                  columns = pd.Index(list('ABCD'), name = 'letter'))
df1

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

We are able to *stack* the data frame into a series, by pivoting the columns into the rows.

In [5]:
# stack the data frame
df1_stacked = df1.stack()
df1_stacked

city  letter
LA    A         0
      B         1
      C         2
      D         3
SF    A         4
      B         5
      C         6
      D         7
dtype: int32

So now we have a series with a mutliple index.

In [9]:
# we can also unstack a series
df1_stacked.unstack()

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [10]:
# we can unstack by the city instead
df1_stacked.unstack('city')

city    LA  SF
letter
A        0   4
B        1   5
C        2   6
D        3   7

### Pivoting Data

To start out with, we're going to make a data set. Don't worry about how we make this.

In [11]:
# don't pay attention to this cell
import pandas.util.testing as tm; tm.N = 3

def unpivot(frame):
    N, K = frame.shape
    data = {'value': frame.values.ravel('F'),
            'variable':np.asarray(frame.columns).repeat(N),
            'date': np.tile(np.asarray(frame.index), K)}
    return pd.DataFrame(data, columns = ['date', 'variable', 'value'])

df2 = unpivot(tm.makeTimeDataFrame())
df2

         date variable     value
0  2000-01-03        A  0.796294
1  2000-01-04        A  0.495391
2  2000-01-05        A -0.659034
3  2000-01-03        B -0.836387
4  2000-01-04        B  1.607184
5  2000-01-05        B  0.306209
6  2000-01-03        C  1.326998
7  2000-01-04        C  0.136867
8  2000-01-05        C -0.425166
9  2000-01-03        D  0.560568
10 2000-01-04        D -0.807963
11 2000-01-05        D -0.758759

In [14]:
# pivot df2
df2.pivot('date', 'variable', 'value')

variable           A         B         C         D
date
2000-01-03  0.796294 -0.836387  1.326998  0.560568
2000-01-04  0.495391  1.607184  0.136867 -0.807963
2000-01-05 -0.659034  0.306209 -0.425166 -0.758759